  <div class="row we">
    <div class="we-header text-center">Quem somos nós</div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="we-main text-center">
        <div><h4>Nossa missão:</h4></div>
        <div><h6>O projeto “comunidade de programação” visa alavancar a aprendizagem de programação de jovens e adultos através de abordagens democráticas, e explorar maneiras de tornar a programação acessível a um público numeroso e diverso usando e-learning. Através da comunidade de programação, a universidade poderá dialogar com a sociedade acerca da demanda social por saberes em computação, já estudada em outros países porém ainda pouco considerada no Brasil.</h6></div>
        <div><h5>Contato : comunidadedeprogramacao@dcc.ufrj.br</h5></div>
      </div>
      </div>
    <div class="col-md-2"></div>
  </div>
