<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<!--<nav class="navbar navbar-inverse">
  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>-->
  <!--<span><h5 class="header-title"> Comunidade de Programação</h5></span>
</nav>-->
<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
	<ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
	  </ul>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main text-center">
      <div>
        <img class="logo" src="./assets/img/big_logo.png"/>
      </div>
      <div>
        <h4 class="explanation">{{ title }}</h4>
      </div>
    </div>
    <div class="col-md-2"></div>
 </div>
  <app-we></app-we>
</div>

<script defer="defer" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>

</html>

